body{
   top: 06px;
   position: relative;
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    background-color: #bbb5b5;
    padding: 0;
    margin: 0;
}
h1{
   color: #ff0404;
}
h2{
   text-align: center; 
   color: #2f00ff;
}
img {
   top: 50px;
   position: relative;
   width: 470px;
   height: 240px;
   border:05px solid #000000 ; 
   right: -43px;
   top: 0px;
   border-radius: 10px;

}
button{
   position:relative;
   right: 200px;
   top: 40px;
   max-width: 250px;
}